.table {
  margin-top: 50px;
  width: 80%;
  }
  table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  }
  table * {
  position: relative;
  }
  table thead tr {
  height: 60px;
  background: #36304a;
  }
  table td,
  table th {
      padding-left: 8px;
  text-align: left;
  }
  .table100-head th {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
  }
  tbody tr:nth-child(even) {
  background-color: #f5f5f5;
  }
  tbody tr {
      height: 50px;
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
  }

  tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
  }
  .col img{
    position: absolute;
    top: 0;left: 0;
    width: 100%;height: 100%;
    object-fit: contain;
  }
  
  @media screen and (max-width: 992px) {
  table {
      display: block;
  }
  table > *,
  table tr,
  table td,
  table th {
      display: block;
  }
  table thead {
      display: none;
  }
  table tbody tr {
      height: auto;
      padding: 37px 0;
  }
  table tbody tr td {
      padding-left: 40% !important;
      margin-bottom: 24px;
  }
  table tbody tr td:last-child {
      margin-bottom: 0;
  }
  table tbody tr td:before {
      font-family: OpenSans-Regular;
      font-size: 14px;
      color: #999999;
      line-height: 1.2;
      font-weight: unset;
      position: absolute;
      width: 40%;
      left: 30px;
      top: 0;
  }
  table tbody tr td:nth-child(1):before {
      content: "Date";
  }
  table tbody tr td:nth-child(2):before {
      content: "Order ID";
  }
  table tbody tr td:nth-child(3):before {
      content: "Name";
  }
  table tbody tr td:nth-child(4):before {
      content: "Price";
  }
  table tbody tr td:nth-child(5):before {
      content: "Quantity";
  }
  table tbody tr td:nth-child(6):before {
      content: "Total";
  }

  .column4,
  .column5,
  .column6 {
      text-align: left;
  }
  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
      width: 100%;
  }
  tbody tr {
      font-size: 14px;
  }
  }